{% load i18n static admin_adminlte %}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

    {% admin_get_menu as app_list %}
    
    {% if app_list %}
    {% for app in app_list %}
    {% if app.has_perms and not app.pinned and not app.label == 'Django Summernote' %}
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a class="nav-link {% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed{% endif %}"
        data-bs-toggle="collapse" data-bs-target="#submenu-{{ app.app_label }}" href="{{ app.url }}">
        <i class="nav-icon {{ app.icon }}"></i>
        <p>
          {{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      {% if app.models %}
      <ul class="nav nav-treeview">
        {% for model in app.models %}
        {% if model.url and not model.label == 'Grupos' %}
        <li class="nav-item">
          <a class="nav-link {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
            href="{{ model.url }}">
            <i class="far fa-circle nav-icon"></i>
            <p>{{ model.label }}</p>
          </a>
        </li>
        
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if request.user.is_superuser %}
      <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
          <li class="nav-item">
            <a href="/dashboard" class="nav-link {% if 'dashboardv1' in segment %} active {% endif %}">
              <i class="fa-solid fa-d nav-icon"></i>
              <p>Dashboard</p>
            </a>
          </li>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <li class="nav-item">
          <a href="{% url 'examples_calendar' %}" class="nav-link {% if 'calendario' in segment %} active {% endif %}">
            <i class="fa-solid fa-c nav-icon"></i>
            <p>Calendario</p>
          </a>
        </li>
        <li class="nav-item">
          <li class="nav-item">
            <a href="{% url 'emprendimiento:emprendimientos_lista' %}" class="nav-link {% if 'emprendimientos' in segment %} active {% endif %}">
              <i class="fa-solid fa-e nav-icon"></i>
              <p>Emprendimientos</p>
            </a>
          </li>
        </li>
        <li class="nav-item">
          <li class="nav-item">
            <a href="{% url 'clientes_lista' %}" class="nav-link {% if 'ingresos' in segment %} active {% endif %}">
              <i class="fa-solid fa-p nav-icon"></i>
              <p>Personas</p>
            </a>
          </li>
        </li>

    {% endif %}

    

    {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a href="{% url 'logout' %}" class="nav-link">
        <i class="fa fa-sign-out-alt nav-icon"></i>
        <p>Logout</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'password_change' %}" class="nav-link">
        <i class="fa fa-sign-out-alt nav-icon"></i>
        <p>Cambiar Contraseña</p>
      </a>
    </li>
    {% endif %}     
    {% if not request.user.is_authenticated %}  
    <li class="nav-item">
      <a href="{% url 'login' %}" class="nav-link">
        <i class="fa fa-sign-in-alt nav-icon"></i>
        <p>Login</p>
      </a>
    </li>
    {% endif %}   
  </ul>