<div class="modal fade" id="confirmarVentaModal{{ prenda.pk }}" tabindex="-1" role="dialog" aria-labelledby="confirmarVentaModalLabel{{ prenda.pk }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarVentaModalLabel{{ prenda.pk }}">Confirmar Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro que deseas marcar esta prenda como vendida?
            </div>
            <form method="post" action="{% url 'confirmar_venta' prenda.pk %}">
                {% csrf_token %}
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-outline-light">Aceptar</button>
                </div>
              </form>
        </div>
    </div>
</div>