<div class="modal fade" id="confirmarVentaModal{{ prenda.pk }}" tabindex="-1" role="dialog" aria-labelledby="confirmarVentaModalLabel{{ prenda.pk }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content card-success">
            <div class="card-header">
                <h5 class="card-title" id="confirmarVentaModalLabel{{ prenda.pk }}">Confirmar Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>¿Seguro que deseas marcar esta prenda como vendida?</h2>
                <br>
                <h2><strong class="btn btn-block btn-outline-success btn-lg">{{ prenda.descripcion }}</strong></h2>
            </div>
            <form method="post" action="{% url 'confirmar_venta' prenda.pk %}">
                {% csrf_token %}
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Aceptar</button>
                  </div>
              </form>
        </div>
    </div>
</div>