asgiref==3.8.1
bleach==6.2.0
cffi==1.17.1
cryptography==44.0.3
Django==5.2.1
django-admin-adminlte==1.0.14
django-simple-history==3.8.0
django-summernote==0.8.20.0
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
pycparser==2.22
PyMySQL==1.1.1
python-dotenv==1.1.0
sqlparse==0.5.3
str2bool==1.1
webencodings==0.5.1
whitenoise==6.9.0
