{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Detalle
{% endblock %}
{% block extrastyle %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'dist/fontawesome/css/fontawesome.css' %}" />
<link rel="stylesheet" href="{% static 'dist/fontawesome/css/brands.css' %}" />
<link rel="stylesheet" href="{% static 'dist/fontawesome/css/solid.css' %}" />
<link rel="stylesheet" href="{% static 'dist/fontawesome/css/sharp-thin.css' %}" />
<link rel="stylesheet" href="{% static 'dist/fontawesome/css/duotone-thin.css' %}" />
<link rel="stylesheet" href="{% static 'dist/fontawesome/css/sharp-duotone-thin.css' %}" />
<style>
  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 3px 6px !important;
  }
</style>
{% endblock %}
{% block bodyclass %}
hold-transition sidebar-mini
{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9">
          <h1>
            {{ cliente_actual.nombre }}
          </h1>
        </div>


        <div class="col-sm-3">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="{% url 'cliente_detalle' cliente_actual.pk %}">Lista({{cliente_actual.nombre}})</a>
            </li>
            <li class="breadcrumb-item active">Info({{ cliente_actual.nombre }})</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <section>
    <!-- totales -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fa-regular fa-money-bill-1"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Efectivo</span>
              <span class="info-box-number">{{ total_efectivo }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fa-regular fa-credit-card"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Credito</span>
              <span class="info-box-number">{{ total_credito }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fa-solid fa-cart-shopping"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Prendas Vendidas</span>
              <span class="info-box-number">{{ total_prendas_vendidas }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fa-solid fa-cart-shopping"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Prendas No Vendidas</span>
              <span class="info-box-number">{{ total_prendas_sin_vender }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /totales -->
  </section>
  <div class="container-fluid">
    <div class="row mb-2">
      <!-- Correo electrónico -->
      <div class="col-md-3">
        <li class="btn btn-block btn-outline-info btn-flat" data-toggle="tooltip" title="E-mail">
          <i class="fa-regular fa-envelope"></i> {% if cliente_actual %}{{ cliente_actual.email }}{% endif %}
        </li>
      </div>

      <!-- Teléfono -->
      <div class="col-md-3">
        <li class="btn btn-block btn-outline-success btn-flat" data-toggle="tooltip" title="Telefono">
          <i class="fa-solid fa-mobile-screen"></i> {% if cliente_actual %}{{ cliente_actual.telefono }}{% endif %}
        </li>
      </div>

      <!-- Instagram -->
      <div class="col-md-3">
        <li class="btn btn-block btn-outline-dark" data-toggle="tooltip" title="Instagram">
          <i class="fa-brands fa-instagram"></i> {% if cliente_actual %}{{ cliente_actual.instagram }}{% endif %}
        </li>
      </div>

      <!-- Alias -->
      <div class="col-md-3">
        <li class="btn btn-block btn-outline-primary btn-flat" data-toggle="tooltip" title="Alias">
          <i class="fa-solid fa-money-bill-transfer"></i> {% if cliente_actual %}{{ cliente_actual.alias }}{% endif %}
        </li>
      </div>
    </div>
  </div>
  <!-- Main content -->
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="card card-primary card-outline card-tabs">
        <div class="card-header p-0 pt-1 border-bottom-0">
          <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
            
            <li class="nav-item">
              <a class="nav-link show active" id="custom-tabs-three-Datos-Económicos-tab" data-toggle="pill"
                href="#custom-tabs-three-Datos-Económicos" role="tab" aria-controls="custom-tabs-three-Datos-Económicos"
                aria-selected="false">Datos Económicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-three-Rendimiento-de-Ventas-tab" data-toggle="pill"
                href="#custom-tabs-three-Rendimiento-de-Ventas" role="tab" aria-controls="custom-tabs-three-Rendimiento-de-Ventas"
                aria-selected="false">Rendimiento de Ventas</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-three-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-three-Datos-Económicos" role="tabpanel"
              aria-labelledby="custom-tabs-three-Datos-Económicos-tab">
              {% include "ingresos/charts/total-generado.html" %}
              {% include "ingresos/charts/ventas_mensuales.html" %}
            </div>
            <div class="tab-pane fade" id="custom-tabs-three-Rendimiento-de-Ventas" role="tabpanel"
              aria-labelledby="custom-tabs-three-Rendimiento-de-Ventas-tab">
             {% include "ingresos/charts/rendimiento_ventas.html" %}
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  <!-- /.content -->
 
  {% endblock %}
  {% block extra_scripts %}
  <!-- DataTables & Plugins -->

  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
  <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
  <!-- Page specific script -->
  {% include 'ingresos/scripts/tablas/prendas.html' %}
  {% include 'ingresos/scripts/tablas/no_cobradas.html' %}
  {% include 'ingresos/scripts/tablas/cobradas.html' %}
 
  {% endblock %}