{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} 404 Pagina no encontrada {% endblock title %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>404 Error</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">404 Error</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-warning"> 404</h2>

      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! ZORRIERROR.</h3>

        <p>
          <progress></progress>
            <p>No pudimos encontrar la pagina que buscas.</p>
              Podes <a href="/">Ir al inicio</a>.
        </p>
           <img src="{% static 'dist/img/zorrita-triste.webp' %}" alt="AdminLTE Logo" width="300" height="350" class="brand-image"
      style="opacity: .8">
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->
</div>
{% endblock content %}

