{% extends 'layouts/auth_base.html' %}

{% block title %} Reset Completo {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Zorritas</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Cambiaste la contraseña EXITOSAMENTE</p>
      <a href="/">Ir al Inicio</a>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock %}
