
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="nocobradas" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Precio</th>
                  <th>Cobrada</th>
                  <th>Fecha de Cobro</th>
                  <th>Fecha de Ingreso</th>
                  <th>Fecha de Venta</th>
                </tr>
                </thead>
                <tbody>
                {% for prenda in prendas_no_cobradas %}
                <!-- #region -->
                 <tr>
                  <td>{{ prenda.descripcion }}</td>
                  <td>{{ prenda.precio }}</td>
                  {% if prenda.cobrada == True %}
                        <td><i class="fa-solid fa-check fa-xl" style="color: #24d917;"></i></td>
                    {% else %}
                        <td><i class="fa-solid fa-xmark fa-xl" style="color: #d70f0f;"></i></td>
                    {% endif %}
                  <td>{{ prenda.fecha_cobro }}</td>
                  <td>{{ prenda.fecha_ingreso }}</td>
                  <td>{{ prenda.fecha_venta }}</td>
                </tr> 
                 <!-- #endregion -->
                
                {% endfor %}
                
                </tbody>
                <tfoot>
                <tr>
                  <th>Descripcion</th>
                  <th>Precio</th>
                  <th>Cobrada</th>
                  <th>Fecha de Cobro</th>
                  <th>Fecha de Ingreso</th>
                  <th>Fecha de Venta</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
